<div class="dropdown">
 
  <a class="nav1 dropdownUser" style="text-decoration: none; color:#333;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-user bx-sm'></i></a> 

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a style="display:flex; padding: 5px;" class="dropdown-item" href="/user/profile/orders"><i class='bx bx-shopping-bag bx-sm' ></i>&nbsp;My Orders</a>
    <a style="display:flex; padding: 5px;" class="dropdown-item" href="/user/profile"><i class='bx bx-user bx-sm'></i>&nbsp;Profile</a>
    <a style="display:flex; padding: 5px;" class="dropdown-item" href="/auth/logout"><i class='bx bx-log-out bx-sm'></i>&nbsp;Logout</a>
  </div>
</div>

<script type="text/javascript">
  $('#dropdownMenuButton').on('click', function(e){
    $(".dropdown-menu").toggle();
    $(this).toggleClass('class1')
  })
</script>